/* color palette from <https://github.com/vuejs/theme> */
:root {
  --light-color: #f8f9f9;
  --secondary-color: #d8e1ed;
  --primary-color: #023058;
  --primary-color-light: #cbd5e2;
  --primary-color-dark: #02223d;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--primary-color);
  background: var(--light-color);
  font-family: 'Clash Grotesk', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

button {
  outline: none;
  border: none;
  background: none;
  font-family: var(--font-family);
  font-size: 16px;
}

.button-primary {
  background: var(--primary-color);
  color: var(--light-color);
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

input,
select,
textarea {
  padding: 10px 12px;
  font-size: 16px;
  font-family: var(--font-family);
  border: 2px solid var(--primary-color);
  background-color: none;
  border-radius: 5px;
  outline: none;
  width: 100%;
}

input:focus,
select:focus,
textarea:focus {
  outline: 2px solid var(--secondary-color);
  outline-offset: 1px;
}

.errorMessages {
  margin-top: 10px;
}

.errorMessages p {
  color: rgb(175, 54, 54);
  margin-top: 5px;
}
